__pycache__/
.env

# Virtual environments
venv/
.venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs / temp
*.log
*.tmp

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
.venv/
